

.technology-card {
    background-color: var(--background-color-azure);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}

.technology-card--not-started {
    background-color: var(--light-olive-leaf);
}
.technology-card--completed {
    background-color: var(--light-green);
    
}

.technology-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.technology-card.hidden {
    display: none !important;
}

.KeyId {
    font-size: 0.8em;
    color: var(--charcoal-brown);
    margin-bottom: 5px;
}

.technology-name {
    color: var(--dark-green);
    font-size: 1.2em;
    font-weight: bold;
}

.description {
    /* color: var(--grey-text); */
    color: var(--black);
    font-weight: bold;
    margin: 10px 0;
    font-size: 0.95em;
}

.category {
    color: var(--glow-color);
    margin-bottom: 10px;
    font-size: 0.9em;
}

.btn {
    border-color: var(--grey-text);
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(255, 209, 209, 0.15);
    transition: transform, box-shadow 0.3s ease;
    cursor: pointer;

}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.status {
    color: var(--sage-green);
    font-size: 0.9em;
    font-style: italic;
    font-weight: lighter;
    padding: 1px 5px;
}

.status-not-started {
    color: var(--red-text);
    /* color: red; */
}
.status-in-progress {
    color: var(--orange-text);
}
.status-completed {
    color: var(--dark-green);
}
