

.technology-card {
    background-color: var(--background-color-azure);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    /* max-width: 200px; */
    height: auto;
}
.technology-card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.KeyId {
    font-size: 0.8em;
    color: var(--charcoal-brown);
    margin-bottom: 5px;
}

.technology-name {
    color: var(--dark-green);
    font-size: 1.2em;
    font-weight: bold;
}

.description {
    /* color: var(--grey-text); */
    color: var(--black);
    font-weight: bold;
    margin-top: 10px;
    font-size: 0.95em;
}

.status {
    color: var(--sage-green);
    font-size: 0.9em;
    font-style: italic;
    font-weight: lighter;
}

.status-not-started {
    color: var(--red-text);
    /* color: red; */
}
.status-in-progress {
    color: var(--orange-text);
}
.status-completed {
    color: var(--dark-green);
}