:root {
    --white: #FFFFFF;
    --black: #000000;
    --background-color-light: #F5F5F5;
    --background-color-azure: rgb(230, 250, 252);
    --background-color-black: #0B555B;
    --light-green: rgb(156, 252, 151);
    --dark-green: #086303;
    --sage-green: rgb(107, 163, 104);
    --dark-sage-green: #304C2F;
    --olive-leaf: rgb(81, 91, 58);
    --light-olive-leaf: #F6F7F3;
    --charcoal-brown: rgb(53, 61, 47);
    --light-charcoal-brown: #D4E6B5;
    --very-light-green: #f0fdf4;
    --grey-text: #7f8c8d;
    --red-text: #e74c3c;
    --orange-text: #FF8C00;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    /* text-align: center; */
}


.container {
    max-width:inherit;
    /* margin-top: 2cm; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
